/*----------------------------------GLOBAL----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Chivo');

body{
  display: table;
  height: 100%;
  margin: 0;
}

html{
  background-color: black;
  height: 100%;
  font-family: 'Chivo', sans-serif;
}

#fond{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: .5;
  z-index: -1;
}

/*----------------------------------MENU----------------------------------*/
.menu{
  font-size: 40px;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
}

.menu a{
  /*white-space: nowrap;*/
  transition: opacity 300ms;
  display: inline-block;
  padding:6px 26px;
}

.menu a:hover {
  cursor: pointer;
}

.menu a.active{
  padding:0 20px;
  border: solid white 6px;
  background-color:rgba(0,0,0,.7);
}


.menu.active a:not(.active){
  opacity: .2;
}
.menu span{
  transition: opacity 300ms;
  margin:0 -8px;
}
.menu.active span{
  opacity: 0;
}
/*.menu a:not(:first-of-type)::before{
  content: "|";
  margin : 0 0.3em;
}*/

/*----------------------------------SINGLE DIV----------------------------------*/

#single{
  height: 100vh;
  width: 33%;
  position: absolute;
  top:0px;
  left: 0px;
  background-color: red;
  box-shadow: -4px 0px 30px 2px rgba(0,0,0,0.75);
  transition: left 500ms;
}

#single:empty{
  left: -100%;
}
