/*----------------------------------GLOBAL----------------------------------*/
@import url('https://fonts.googleapis.com/css?family=Chivo');

body{
  display: table;
  height: 100%;
  margin: 0;
}

html{
  background-color: black;
  height: 100%;
  font-family: 'Chivo', sans-serif;
}

#fond{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-size: cover;
  background-position: center;
  opacity: .5;
  z-index: -1;
}

img{

}

/*----------------------------------MENU----------------------------------*/
.menu{
  font-size: 40px;
  text-align: center;
  color: white;
  display: table-cell;
  vertical-align: middle;
  font-weight: 700;
}

.menu a{
  /*white-space: nowrap;*/
  transition: opacity 300ms;
  display: inline-block;
}

.menu a:hover {
  cursor: pointer;
}

.menu a:not(.active){
  opacity: .4;
}
.menu span{
  margin : 0 0.3em;
  opacity: .4;
}
/*.menu a:not(:first-of-type)::before{
  content: "|";
  margin : 0 0.3em;
}*/
