#single:not(:empty){
  position: fixed;
  z-index: 100;
  width:100vw;height:100vh;
  top:0;left:0;
}

#single aside{
  z-index: 16;
  position: absolute;
  height: 100vh;
  width: 33%;
  color: white;
  padding: 40px;
  background-color: black ;
  box-shadow: -4px 0px 30px 2px rgba(0,0,0,0.75);
  transition: left 500ms;
}

#single:empty aside,
#single.playing aside{
  left: -100%;
}

#single video{
  width:100%;
  height:100%;
  z-index: 8;
}
.title{
  display: table;
  margin: 0 auto;
  text-align: center;
  padding:6px 20px;
  border: solid white 6px;
}
.participants{
  text-align: center;
}

.participants span{
  display: inline-block;
}

.participants span:not(:first-of-type)::before{
  content: "|";
  margin : 0 3px;
}

.participants span {
  margin-right: 10px;
}

p.description {
  border-top: solid white 6px;
  padding-top: 20px;
}

.back{
  position: absolute;
  left: 40px;
  bottom: 120px;
  display: inline-block;
  border-bottom: solid white 6px;
  padding: 16px 0px 6px 0px;
}

.back:hover{
  border: solid white 6px;
  padding: 10px;
}

#mask{
  position: absolute;
  width: 100%;height: 100%;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: 14;
}
#single.playing #mask{opacity: 0;} 
